@import "../../sass/essentials";

.section-skills {
  padding: 1rem 1rem 3rem;

  .slick-slider {
    .slick-list {
      .slick-track {
        div div {
          font-size: 3.5rem;
          color: $font-color-secondary;

          @include mq($until: small) {
            font-size: 3rem;
          }
        }
      }
    }
  }
}