/*-------------------------
         GENERAL
-------------------------*/
html {
    scroll-behavior: smooth;

    @include mq($until: medium) {
        font-size: 90%
    }

    ;

    @include mq($until: small) {
        font-size: 85%
    }

    ;
}

body {
    font-family: $main-font;
    font-weight: 400;
    margin: 0;
    background-color: $color-primary-dark;
    color: $font-color;
}

.full-screen {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-content {
    font-family: $secondary-font;
    line-height: 1.618;
    color: $color-primary-light;
}

h2,
h2 span {
    font-weight: 700;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a,
button {
    outline: none !important;
}

.base-color {
    color: $base-color;
}

.btn-center {
    text-align: center;

    .btn-icon {
        margin-left: 0.5rem;
    }
}