/*-------------------------
           MEDIA
-------------------------*/
@media (max-width: 1199px) {
  /* .services-content {
    font-size: 1rem;
  } */
}

@media (max-width: 991px) {
  .foto-container {
    margin-bottom: 1rem !important;
    max-width: 180px;
  }

  .blog-content-container {
    padding: 0rem 3rem 2rem !important;
  }

  .nav-bar .menu-wrap .main-menu div .uls-container ul li {
    padding: 12px 20px !important;
  }

  .personal-info-container {
    flex-direction: column;
  }

  .personal-info-bottoms {
    display: flex;
    justify-content: center;
  }

  .personal-item {
    text-align: center;
  }

  .skill-box {
    margin-top: 60px;
  }

  #logo-cris {
    max-width: 230px;
  }
}

@media (max-width: 767px) {
  .project-info {
    text-align: center !important;

    .project-features ul {
      padding-left: 0 !important;

      li {
        list-style: none !important;

        &:nth-of-type(even) {
          color: white !important;
        }
      }
    }
  }

  .contact {
    margin: 5rem 0 3rem !important;
  }

  .contact-sub-container {
    margin: 0 !important;
  }

  .blog-page {
    margin: 3rem 0 0rem !important;
  }

  .blog-template-top-img {
    height: 19rem !important;
  }

  .blog-content-container {
    padding: 0rem 1rem 1rem !important;

    h1 {
      font-size: 2rem !important;
    }
  }

  .social-links__hero {
    display: none !important;
  }

  .social-box {
    display: none;
  }

  .hero-title {
    font-size: 2.2rem;
  }

  .typed-cursor {
    font-size: 2.2rem !important;
    line-height: 2.2rem !important;
  }

  .title-content h2 {
    font-size: 35px;
  }

  #skills {
    padding-bottom: 3rem;
  }

  #about-svg {
    margin: 2rem 0 !important;
  }

  .section.projects,
  .latest-articles {
    padding: 2rem 0 !important;
  }

  .section-services {
    padding: 2rem 0 4rem !important;
  }

  .about-page .about-section {
    padding: 2rem 0 4rem !important;
  }
}

@media (max-width: 575px) {

  /* .skill-box {
    grid-template-columns: repeat(3, 1fr) !important;
    .skillbar-item .icon-tech .icon {
      font-size: 2.8rem !important;
    }
  } */
  .blog-template {
    padding: 2rem 0 !important;
  }

  .services-content {
    font-size: 1rem !important;
  }

  .blog-content-container {
    padding: 0rem 1rem 1rem !important;
  }

  .blog-template-top-img {
    height: 16rem !important;
  }

  .menu-wrap .main-menu>div>.uls-container .social-box-menu li a {
    font-size: 1.4rem !important;
  }

  .hero-title,
  .typed-cursor {
    font-size: 1.4rem !important;
    line-height: 1.4rem !important;
  }

  .footer h5 {
    font-size: 1rem;
  }

  .foto-container {
    max-width: 150px;
  }

  .hero-desc {
    padding: 1rem;
  }

  .personal-info-1,
  .personal-info-2 {
    text-align: center;
  }

  .floating {
    top: 55% !important;
  }

  .square {
    width: 200px !important;
    right: 20% !important;
  }

  .circle-2 {
    left: 120px !important;
  }

  .circle {
    width: 50px !important;
    height: 50px !important;
  }

  #about-svg {
    margin: 1rem 0 !important;
  }
}

@media (max-width: 380px) {

  .project-img,
  .blog-img {
    height: 14rem !important;
  }

  .square {
    width: 150px;
  }

  .display-content {
    padding: 5rem 0 0;
  }

  .navbar {
    padding: 4px 2px;
  }

  .copy-right {
    font-size: 13px;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .title-bg {
    font-size: 60px;
  }

  .title h2 {
    font-size: 2.5rem;
  }

  #logo-cris {
    max-width: 200px;
  }

  .pill-button {
    padding: 8px 24px !important;
  }

  .circle {
    height: 40px !important;
    width: 40px !important;
  }

  .circle-2 {
    height: 30px !important;
    width: 30px !important;
  }

  .floating {
    height: 25px !important;
    width: 25px !important;
  }

  #about-svg {
    margin: 0 !important;
  }
}