@import "../../sass/essentials";

.pill-button {
  display: inline-block;
  transition: all 0.4s ease;
  border-radius: 9999px;
  background-color: $accent-color;
  color: $color-primary-light;
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  font-size: 1.15rem;
  backface-visibility: hidden;

  /* @media screen and (max-width: 450px) {
    padding: 10px 1.5rem;
  } */
  &:hover {
    //color:  #b02b12;
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }

}