@import "../../sass/essentials";

.title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem;
    text-align: center;

    h2 {
        position: relative;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: 900;
        text-transform: capitalize;
        color: $base-color;

        @include mq($until: small) {
            font-size: 2.2rem;
        }
    }

    .underline {
        width: 60px;
        height: 4px;
        margin-bottom: 1.25rem;
        background: $color-primary-light;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2px;
    }

    /*  &__inverted {
        padding-top: 2rem;

        h2 {
            color: $color-primary-light;
        }
    } */
}