@import "../../sass/essentials";

.logo-cris {
  animation: fill-logo 1s ease forwards 2.5s;
}

.logo-cb {
  stroke-dasharray: 279;
  stroke-dashoffset: 279;
  animation: line-anim 3s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill: transparent;
  }

  to {
    //fill: #00b069;
    fill: $color-primary-light;
  }
}