.error-page {
  min-height: 80vh;
  padding: 4rem;
  text-align: center;
  .error-content {
    height: 80%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    @media (min-width: 767px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      width: 50%;
      height: 80%;
    }
    .error-image {
      max-width: 40%;
      margin: 0 auto 2rem;
      @media (max-width: 767px) {
        max-width: 80%;
      }
    }
    h2 {
      margin-bottom: 1rem;
    }
    .error-bottom {
      margin-bottom: 2rem;
    }
  }
}
