.about-page {
  margin-top: 3rem;
  min-height: 77vh;

  .about-section {
    padding: 6rem 0 4rem;
  }
}

.about-info {
  margin: 0 auto;
  padding: 1rem;
  //text-align: center;
}

.personal-info-bottoms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

.photo-about {
  text-align: center;
  width: 80%;
  border-radius: 50%;
  margin: auto;
  padding: 1rem;
  border: 2px solid #00b069;

  @media screen and (max-width: 992px) {
    max-width: 50%;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 400px) {
    max-width: 70%;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.codersrank-wrapper {
  h2 {
    font-weight: bold;
    color: #00b069;
    margin-bottom: 2rem;

    @media screen and (max-width: 400px) {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

codersrank-summary {
  --bg-color: #00293B;
  --header-bg-color: #003247;
  --badge-bg-color: #003247;
  --badge-border-radius: 1rem;
  --badge-margin: 16px;
  --badge-box-shadow: 0px 3px 10px RGBA(0, 0, 30, 0.1);
  --badge-text-color: #ffffff;
  --badge-rank-font-weight: normal;
}

codersrank-activity {
  --bg-color-0: rgba(255, 255, 255, 0.7);
}