/*-------------------------
         GENERAL
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 300 !important;
  margin: 0 !important;
  background-color: #00293b !important;
  color: #fafafa !important;
}

.full-screen {
  height: 100vh;
}

section {
  overflow: hidden;
  padding: 4rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-content {
  font-family: "Halant", serif;
  line-height: 1.618;
}

h2,
h2 span {
  font-weight: 700;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  outline: none !important;
}

.button-border {
  box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1);
  display: inline-block;
}

.base-color {
  color: #00b069 !important;
}

.noborder {
  border: none;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem;
}

.title-content {
  h2 {
    position: relative;
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: capitalize;
  }
  .underline {
    width: 5rem;
    height: 3px;
    margin-bottom: 1.25rem;
    background: #a1e4df;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-center {
  text-align: center;
  .btn-icon {
    margin-left: 0.5rem;
  }
}
.btn-icon-left {
  margin-left: 0;
  margin-right: 0.5rem;
}

.font-2-color {
  color: #a1e4df;
}
