@import "../../sass/essentials";

.blog-page,
.blog-category-page {
  margin: 7rem 0 0rem;
  min-height: 100vh;

  .blog-page-subtitle {
    padding-left: 2rem;
    border-radius: 5px;
    margin: 1rem 0 2rem;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
      border-radius: 2px;
      background-color: $color-secondary-dark;
    }
  }

  .blogs-section {
    padding: 1rem 0 3rem;
  }

}


.blog-horizontal {
  display: block;
  margin-bottom: 2rem;
  background: $color-secondary-dark;
  border-radius: 0.5rem;
  transition: all 0.4s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  article {
    display: flex;
    padding: 0.7rem;
    min-height: 240px;

    .blog-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      color: $color-primary-light;
      padding: 0.5rem 2rem;

      h3 {
        color: $color-primary-light;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        color: $font-color;
        // font-size: 0.9rem;
        max-height: 75px;
        overflow: hidden;
      }

      .blog-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin-bottom: 0;
          letter-spacing: 2px;
          font-size: 0.8rem;
          color: $font-color;
        }

        span {
          font-size: 0.8rem;
          font-weight: 500;
          text-transform: capitalize;
          padding: 0.5rem 1rem;
          background: $font-color-secondary;
          border-radius: 0.5rem;
        }
      }
    }

    .blog-img-container {
      height: 245px;

      .blog-img {
        padding: 1rem;
        width: 280px;
        height: 100%;
        transition: all 0.3s ease;
        filter: brightness(0.9);
        border-radius: 0.5rem;
      }
    }
  }


  &:hover {
    text-decoration: none;

    .blog-img-container .blog-img {
      filter: brightness(0.7);
    }
  }
}


.blog-vertical {
  display: block;
  margin-bottom: 2rem;
  background: $color-secondary-dark;
  border-radius: 1rem;
  transition: all 0.4s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  article {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0.7rem;
  }

  .blog-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem 0.5rem 0.5rem;
    color: $color-primary-light;

    h3 {
      color: $color-primary-light;
      text-transform: capitalize;
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 700;
    }

    p {
      font-size: 0.9rem;
      color: $font-color;
    }
  }

  .blog-img-container {
    .blog-img {
      border-radius: 0.5rem;
      transition: all .3s ease;
      -webkit-filter: brightness(.9);
      filter: brightness(.9);
    }
  }

  .blog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-bottom: 0;
      letter-spacing: 1px;
      font-size: 0.8rem;
      color: $font-color;
    }

    span {
      font-size: 0.8rem;
      font-weight: 500;
      text-transform: capitalize;
      padding: 0.5rem 1rem;
      background: $font-color-secondary;
      border-radius: 0.5rem;
    }
  }

  &:hover {
    text-decoration: none;

    .blog-img-container .blog-img {
      filter: brightness(0.7);
    }
  }
}

.pagination-wrapper {

  .pagination {
    font-size: 1.2rem;
    padding: 1rem 0;
    background-color: $color-secondary-dark;
    margin: 3rem 0 0;
    border-radius: 9999px;
    // width: fit-content;
    justify-content: center;

    .page-item {

      .page-link {
        color: $color-primary-light;
        background-color: transparent;
        border: none;
        padding: 0.7rem 1rem;
        transition: all 0.3s ease;

        &:hover {
          color: $font-color-secondary;
        }
      }
    }

    .active {
      .page-link {
        color: $base-color;
        font-weight: 600;

        &:hover {
          color: $base-color;
        }
      }
    }

    .disabled {
      .page-link {
        color: $font-color-secondary !important;
      }
    }
  }
}

.latest-articles {
  margin: 1rem 0 2rem;
}

.blog-category-page {
  .container {
    .row {
      .col-md-12 {
        .blogs-section {
          .blogs-center {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  /* .blogs-horizontal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    //max-width: 70%;
  } */

  .blogs-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
    column-gap: 2rem;
    margin: 2rem 0;
  }

  .blog-vertical .blog-img-container .blog-img {
    height: 17.5rem;
  }
}

@media screen and (min-width: 850px) {
  .blog-vertical .blog-img-container .blog-img {
    height: 13rem;
  }
}